.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Isso garante que o container ocupe toda a altura da tela */
}


.titulo {
  display: flex;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 1.5em;
}

h1 {
  font-size: 3em;

}

.date-class{
  display: flex;
  flex-direction: row;
  gap: 0.5em;


}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;

}

.search-label {
  padding-top: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  padding: 0.8em;
  font-size: 1.2em;

  border-radius: 2em;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.buttons-buscar{
  display: flex;
  flex-direction: row;
  font-size: 1em;
  text-align: center;
  gap: 3em;
  padding-top: 3em ;
}

.card {
  display: flex;
  flex-direction: row;
  width: 9em; /* largura desejada */
  height: 7em; /* altura desejada */
  border: 1px solid #ccc;
  border-radius: 3em;
  padding: 20px;
  margin: 0 auto; /* centralizar na horizontal */
  margin-top: 20px; /* espaço superior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: orange; /* cor de fundo laranja */
}


.card h2 {
  margin-top: 0;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card li {
  margin-bottom: 5px;
}

.card li:last-child {
  margin-bottom: 0;
}

@media(max-width:800px) {}
