<div class="container">
  <div class="titulo">
    <h1>Hora Extra</h1>
  </div>
  <form (ngSubmit)="searchByOvertime()">
    <div class="form-group">
      <label class="search-label" for="username">Usuário:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="date-class">
      <div class="form-group">
        <label class="search-label" for="start-date">Data inicial:</label>
        <input type="date" class="form-control" id="start-date" name="start-date" [(ngModel)]="startDate">
      </div>
      <div class="form-group">
        <label class="search-label" for="end-date">Data final:</label>
        <input type="date" class="form-control" id="end-date" name="end-date" [(ngModel)]="endDate">
      </div>
    </div>
    <div class="buttons">
      <app-button class="button">Buscar registros</app-button>
    </div>
  </form>
  <div class="buttons-buscar">
    <app-button class="button" (click)="navigateTo(linkUrlRegistros)">Voltar</app-button>
  </div>

  <div class="msg">
    <app-error-handler [error]="error" action="error"></app-error-handler>
  </div>
<div *ngIf="totalOvertime" class="card">
  <div class="card-text">
    <strong>Hora Extra:</strong>{{ totalOvertime }}
  </div>

</div>
</div>
