<div class="container">
  <h1>{{ username }}</h1>
  <div class="buttons-register">
    <app-button class="button" (click)="registerCheckIn()">Registrar Entrada</app-button>
    <app-button class="button" (click)="registerCheckOut()">Registrar Saída</app-button>
  </div>
  <div class="msg">
  <div *ngIf="registerSuccessCheckIn" class="success-message">
    Entrada realizada com sucesso!
  </div>
  <div *ngIf="registerSuccessCheckOut" class="success-message">
    Saída realizada com sucesso!
  </div>
  <div *ngIf="registerFailure" class="failure-message">
    {{errorMessage}}
  </div>
  </div>
  <div class="buttons-logout">
    <app-button class="button" (click)="navigateTo(linkUrlCadastrar)">Novo usuário</app-button>
    <app-button class="button" (click)="navigateTo(linkUrlRegistros)">Registros</app-button>
  </div>
  <div class="button-container">
  <app-logout class="button"/>
  </div>
</div>
