<div class="container">
  <h1>{{ username }}</h1>
  <div class="buttons-register">
    <app-button class="button" (click)="registerCheckIn()">Registrar Entrada</app-button>
    <app-button class="button" (click)="registerCheckOut()">Registrar Saída</app-button>
  </div>
  <div *ngIf="registerSuccess" class="success-message">
    Registro realizado com sucesso!
  </div>
  <div *ngIf="registerFailure" class="failure-message">
    {{ errorMessage }}
  </div>
  <div class="buttons-logout">
    <app-button class="button" (click)="navigateTo(linkUrlCadastrar)">Criar usuário</app-button>
    <app-button class="button" (click)="navigateTo(linkUrlSair)">Sair</app-button>
    <app-button class="button" (click)="navigateTo(linkUrlRegistros)">Registros</app-button>
  </div>
</div>
