.titulo {
  display: flex;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 1.5em;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;

}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}
/* Adicione estas regras ao seu arquivo register-new-employee.component.css */

.success-message, .failure-message {
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 1.2em;
  text-align: center;
}

.success-message {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.failure-message {
  background-color: #f44336; /* Vermelho */
  color: white;
}
B
@media(max-width:800px) {}
