.titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1em;
}
h1{
  font-size: 2.8em;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.date-class{
  display: flex;
  flex-direction: column;

  gap: 0.5em;


}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;

}

.search-label {
  padding-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  padding: 0.8em;
  font-size: 1.2em;

  border-radius: 2em;
  border: 1px solid #ccc;
}
.buttons-buscar{
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}



.card {
  display: flex;
  flex-direction: row;
  width: 16.5em;
  height: 5em;
  border: 3px solid #000000;
  border-radius: 1.5em;
  padding: 1em;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: orange;
}

.card-text,
.card-titulo{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  line-height: 0.7em;
  font-size: 1.2em;

}

.card-titulo{
font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-top: 0.8em;
  color: #ffffff;
}
.card-text{
font-weight: 400;
  font-size: 1em;
  line-height: 1.7em;
  padding-top: 0.5em;
}

.card h2 {
  margin-top: 0;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card li {
  margin-bottom: 5px;
}

.card li:last-child {
  margin-bottom: 0;
}

.msg,
.button-container{
  display: flex;
  justify-content: center;
}
.success-message {
  background-color: #4CAF50;
  color: #ffffff;
}

.failure-message {
  background-color: #f44336;
  color: #ffffff;
}

@media(max-width:800px) {}
