<div class="container">
  <div class="titulo">
    <h1>Registro de Horas</h1>
  </div>
  <form (ngSubmit)="searchByDate()">
    <div class="form-group">
      <label class="search-label" for="username">Usuário:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="date-class">
      <div class="form-group">
        <label class="search-label" for="start-date">Data inicial:</label>
        <input type="date" class="form-control" id="start-date" name="start-date" [(ngModel)]="startDate">
      </div>
      <div class="form-group">
        <label class="search-label" for="end-date">Data final:</label>
        <input type="date" class="form-control" id="end-date" name="end-date" [(ngModel)]="endDate">
      </div>
    </div>
    <div class="buttons">
      <app-button class="button">Buscar registros</app-button>
    </div>
  </form>
  <div class="buttons-buscar">
    <app-back-button class="button" (click)="navigateTo(linkUrlRegistros)">Voltar</app-back-button>
  </div>

  <div *ngIf="searchPerformed">
  <div *ngIf="records.length > 0; else noRecordsFound">
    <h2 class="card-titulo">Registros encontrados</h2>
    <div *ngFor="let record of records" class="card">
      <div class="card-text">
        <ul>
          <li>
            <strong>Início da Jornada:</strong> {{ record.startOfWork | date: 'dd-MM-yyyy HH:mm' }}
          </li>
          <li>
            <strong>Final da Jornada:</strong> {{ record.endOfWork | date: 'dd-MM-yyyy HH:mm' }}
          </li>
          <li>
            <strong>Tempo trabalhado:</strong> {{ record.timeWorked }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template class="card-titulo" #noRecordsFound>
  <p class="card-titulo" >Nenhum Ponto foi batido nesse intervalo de data.</p>
</ng-template>
</div>
