
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  font-size: 4em;
  padding-bottom: 1em;
}


.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;

}

.login-label {
  padding-top: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 0.8em;
  font-size: 1.2em;

  border-radius: 2em;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.buttons-registrar{
  display: flex;
  flex-direction: row;
  font-size: 1em;
  text-align: center;
  gap: 3em;
  padding-top: 3em ;
}

.success-message, .failure-message {
  margin-top: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: bold;
}

.success-message {
  background-color: #4CAF50;
  color: white;
}

.failure-message {
  background-color: #f44336;
  color: white;
}


@media(max-width:800px) {}
