<div class="container">
  <h1>Colaborador</h1>
  <div class="buttons-register">
    <app-button class="button" (click)="navigateTo(linkUrlCadastrar)">Novo Colaborador</app-button>
    <app-button class="button" (click)="navigateTo(linkUrlEditar)">Editar Colaborador</app-button>
    <app-button class="button" (click)="navigateTo(linkUrlDeletar)">Deletar Colaborador</app-button>
    <app-button class="button" (click)="navigateTo(linkUrlBuscar)">Buscar Colaborador</app-button>
  </div>
  <div class="button-container">
  <app-back-button/>
  </div>
</div>
